body {
    font-family: 'Alegreya Sans SC', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header:not(.card header) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_item a:visited{
    color: blue;
}

.nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > header {
    background: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px 7px 0px 0px;
}

.pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    flex-basis: 450px;  
}

.gallery img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@keyframes logo {
    from {
        width: 50px;
        opacity: 0;
    }
    to {
        width: 425px;
        opacity: 1;
    }
}

#logo {
    animation-name: logo;
    animation-duration: 5s;
}

@media screen and (min-width: 850px){
    header:not(.card header){
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;
    }

    .nav_links {
        flex-direction: row;
        align-self: flex-end;
    }

    .card {
        flex-basis: 250px;
    }
   

}

@media (prefers-reduced-motion) {
    #logo {
        animation: none !important;
        transition: none !important;
    }
}

@media print {
    body {
      background-image: none;
    }
    nav{
        width: 100%;
    }
    .nav_links{
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing {   
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card{
        border: solid 2px #45ADDD;
        flex-basis: 250px;
    }
    
    .gallery{
        display: none;
    }

    .card li:nth-of-type(even)::after{
        content: "👍";
    }

    .card li:nth-of-type(odd)::before{
        content: "👍";
    }
}
